.pagination {
    margin: 32px 12px;

}

.pagination__item {
    display: inline-block;
    margin: 12px 3px;
    padding: 6px 12px;
    background: rgb(255, 153, 0);
    cursor: pointer;
    color: #fff;
}

.pagination__item:hover {
    background-color: rgb(255, 140, 0);
}