.form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 42px;
    width: 800px;
}

.form > input {
    height: 32px;
    border: none;
    border-bottom: 1px solid rgb(255, 201, 85);
}

.form > button {
    border: none;
    background-color: rgb(255, 153, 0);
    padding: 0 16px;
    color: #fff;
}
.form > button:hover {
    background-color: rgb(255, 140, 0);
}
